version: '3.8'

services:
  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
  web:
    build: . 
    command: gunicorn foodgram.wsgi:application --bind 0.0.0.0:8000
    restart: always
    volumes:
      - static_volume:/code/static/
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - static_volume:/code/static/
      - media_volume:/code/media/
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - web
volumes:
  postgres_data:
  static_volume:
  media_volume: