version: '3.3'

volumes:
  postgres_data:
  static_volume:
  media_volume:

    services:
  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    
  web:
    build: .
    restart: always
    #command: bash -c "python3 manage.py collectstatic --noinput && python3 manage.py makemigrations --noinput && python3 manage.py migrate --noinput && python manage.py loaddata ingredients.json && gunicorn foodgram.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - static_volume:/static/
      - media_volume:/media/
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
  nginx:
    image: nginx:latest
    restart: always
    volumes:
      - static_volume:/static/
      - media_volume:/media/
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - web
